# Hello, World!

> 창세기에 빛이 있으라가 있다면 프로그래밍 언어에는 Hello, world!가 있다. -나무위키

`Hello, world!` 프로그램이란, 많은 프로그래밍 언어에서 보편적으로 쓰이는 첫번째 예제로, 화면에 `Hello, world!`를 출력하는것을 목표로 함

In [1]:
print("Hello, world!")

Hello, world!

위의 코드를 살펴보면, `print()` 라는 **Function (함수)** 를 통해 괄호 안에있는 문자열을 화면에 출력 하라고 명령하는 것

# Variable

한국어로는 "변수" 라고 부르고, 숫자와 글자 등 여러 값을 담을 수 있는 공간을 뜻함

In [2]:
name = "Andrew Hong"
age = 29

위 코드의 의미:
- `name` 이라는 이름을 가진 공간에 `Andrew Hong` 이라는 문자열을 넣어라
- `age` 라는 이름을 가진 공간에 `29` 라는 정수를 넣어라

Variable 에는 여러번 다른 값을 assign 할 수 있음

In [3]:
name = "Andrew Hong"
print(name)

name = 1 # can assign different type
print(name)

Andrew Hong
1

# Data Types

Python 에는 크게 몇가지의 Data Type (자료형) 이 있음

| Data Type | 예 | 설명 |
|:----|:---|:----|
| String (문자열) | `"Andrew Hong"` | 글자들, 즉 text 를 나타냄 |
| Integer (정수) | `1234` | 정수를 나타냄 (no decimals) |
| Float (부동 소수점 / 실수) | `3.14` | 실수를 나타냄 (with decimals) |
| Boolean (불린 / 논리 자료형) | `True` | 참 (`True`) or 거짓 (`False`) 을 나타냄 |
| Dictionary (사전) | `{ "name": "Andrew Hong", "age": 29 }` | 사전에서 단어를 정의하듯 key (단어) - value (값) 을 나타냄 |
| List (목록) | `["Hello", "World"]` | 여러개의 값을 함께 담아놓는 공간 |
| Objects (객체) | `Person()` | 데이터와 기능을 하나로 묶어 주변의 사물 또는 생명체를 나타냄 |
| Null | `None` | 아무 값이 지정 되어 있지 않음을 나타냄 |

여러 언어들과는 다르게 Python 에서는 variable 에 data type 상관 없이 값을 지정할 수 있음

## None type

In [4]:
# assign None value
data = None

print(data is None)
print(data is not None)

True
False

## Strings

In [32]:
# assign string
data = 'Andrew Hong'
print(data)

Andrew Hong

In [33]:
# Note the index starts from 0 instead of 1
# you can access each character of the string like you would with lists
print(data[0])
print(data[1])
print(data[2])
print(data[3])
print(data[4])
print(data[5])
print(data[6])
print(data[7])
print(data[8])
print(data[9])
print(data[10])
print(data[-1])

A
n
d
r
e
w

H
o
n
g
g

In [7]:
# assign yet another string
data = 'Hello'
print(data)

data = data + 'World' # strings can be concatenated
print(data)

Hello
HelloWorld

In [8]:
data = 'Hello ' * 5 # strings can be "multiplied". weird
print(data)

Hello Hello Hello Hello Hello

In [9]:
data = 'HeLLo'
print(data)

data = data.upper() # can be transformed to upper cases
print(data)

data = data.lower() # can be transformed to lower cases
print(data)

HeLLo
HELLO
hello

### Slicing

you can **slice** the string by specifying index in `[start:end:step]` format where `start` is the starting index, `end` is the last index (excluding), `step` defines how fast we increment the index.

In [23]:
data = "0123456789"
print(data[2:8:3])

25

`[2:8:3]` means every `3`rd character from `2`nd to `8 - 1`th character: `2, 5`

In [29]:
data = "0123456789"
print(data[7:1:-3])

74

`[7:1:-3]` means every `2`nd character in reverse from `7`th to `1 + 1`th character:  `7, 4`

In [14]:
#       01234567890123456789012345
data = "abcdefghijklmnopqrstuvwxyz"
print(data[4:20:3])

ehknqt

`[4:20:3]` means every `3`rd character from `4`th to `20 - 1`th character: `4, 7, 10, 13, 16, 19`

In [15]:
#       01234567890123456789012345
data = "abcdefghijklmnopqrstuvwxyz"
print(data[20:4:-3])

urolif

`[20:4:-3]` means every `3`rd character in reverse from `20`th to `4 + 1`th character: `20, 17, 14, 11, 8, 5`

In [19]:
data = "0123456789"
print(data[:6:2])

024

`[:6:2]` means every `2`nd character from beginning to `6 - 1`th: `0, 2, 4`

In [20]:
data = "0123456789"
print(data[5::2])

579

`[5::2]` means every `2`nd character from `5`th character to end: `5, 7, 9`

In [16]:
#       01234567890123456789012345
data = "abcdefghijklmnopqrstuvwxyz"
print(data[::-1])

zyxwvutsrqponmlkjihgfedcba

`[::-1]` means every character (`1`) in reverse from beginning to end

## Floats

In [10]:
# assign float
data = 3.14
print(data)

3.14

In [11]:
data = 3.14 + 1
print(data)

4.140000000000001

In [12]:
data = 3.14 + 1.0
print(data)

4.140000000000001

In [13]:
data = 3.14 - 1
print(data)

2.14

In [14]:
radius = 2.0
circumference = 2 * 3.14 * radius
print(circumference)

12.56

In [15]:
data = 5.0 / 2 # divide
print(data)

2.5

In [16]:
data = 5.0 // 2
print(data)

2.0

In [17]:
data = 5.0 % 2 # get the remainder
print(data)

1.0

## Boolean

In [18]:
# assign boolean
data = False
print(data)

False

In [19]:
# assign yet another string
data = 'Hello'
print(data)

# assign boolean by evaluating an expression
data = data is 'HelloWorld'
print(data)

Hello
False

## Integer

In [20]:
# assign integer
data = 1
print(data)

# assign integer by evaluating an expression based on previous assignment
data = data + 5
print(data)

1
6

In [37]:
data = 5 / 2
print(data)

2.5

In [36]:
data = 5 // 2
print(data)

2

In [23]:
data = 5 % 2
print(data)

1

In [24]:
data = 5 ** 2
print(data)

25

## List

In [25]:
# assign list
data = ['메아리', '전례부', '초이스', '성경공부', '레지오 마리애']
print(data) # print the whole list

['메아리', '전례부', '초이스', '성경공부', '레지오 마리애']

In [26]:
# Note the index starts from 0 instead of 1
print(data[0]) # print the first item in the list
print(data[1]) # print the second item in the list
print(data[2]) # print the second item in the list
print(data[3]) # print the second item in the list
print(data[4]) # print the second item in the list
print(data[-1]) # print the last item in the list

메아리
전례부
초이스
성경공부
레지오 마리애
레지오 마리애

In [27]:
print(data[0][1])

아

In [28]:
data = ['메아리', '전례부']
print(data)

data = data + ['전례부', '초이스', '성경공부', '레지오 마리애'] # lists can be "added" together
print(data) # Notice both duplicate items ('전례부') exists in the result

['메아리', '전례부']
['메아리', '전례부', '전례부', '초이스', '성경공부', '레지오 마리애']

In [29]:
data = ['메아리', '전례부', ['초이스', '성경공부']]
print(data) # nested lists

['메아리', '전례부', ['초이스', '성경공부']]

위 `String` 중 `Slicing` 섹션에서 쓰인 slicing notation 모두 사용 가능

## Dictionary

In [30]:
data = {
    'name': 'Andrew Hong',
    'age': 29,
    'gender': 'Male',
}

print(data) #print the whole dictionary
print(data['name']) # print the value with the key 'name' from the dictionary
print(data['age']) # print the value with the key 'age' from the dictionary
print(data['gender']) # print the value with the key 'gender' from the dictionary

{'name': 'Andrew Hong', 'age': 29, 'gender': 'Male'}
Andrew Hong
29
Male

In [31]:
data = {
    'name': 'Andrew Hong',
    'age': 29,
    'gender': 'Male',
}
print(data)

data['home'] = 'Burnaby' # you can add new key-value pairs like this
print(data)

{'name': 'Andrew Hong', 'age': 29, 'gender': 'Male'}
{'name': 'Andrew Hong', 'age': 29, 'gender': 'Male', 'home': 'Burnaby'}

In [32]:
data = {
    'name': 'Andrew Hong',
    'age': 29,
    'gender': 'Male',
}

del data['gender']
print(data)

{'name': 'Andrew Hong', 'age': 29}

In [33]:
data = {
    'name': 'Andrew Hong',
    'age': 29,
    'gender': 'Male',
}

data['gender'] = 'Female' # you can update the data

print(data)

{'name': 'Andrew Hong', 'age': 29, 'gender': 'Female'}

In [34]:
# nested dictionary
data = {
    'name': 'Andrew Hong',
    'birthday': {
        'year': 1989,
        'month': 2,
        'day': 11,
    }
}

print(data)

{'name': 'Andrew Hong', 'birthday': {'year': 1989, 'month': 2, 'day': 11}}

In [35]:
data['birthday']['year']

1989

## Object

In [36]:
import datetime

# assign current time
data = datetime.datetime.now()
print(data)

2018-10-03 21:43:32.603940

# Input

종종 사용자의 입력을 받아야 할때가 있음. 예) 사용자의 이름, 나이 등

In [37]:
name = input('What is your name? ') # Take in user input and assign it to variable "name"
print('Got it. Hello ' + name)

print(type(name)) # let's see what type of value we have in "name"

What is your name? Andrew
Got it. Hello Andrew
<class 'str'>

In [38]:
age = input('How old are you? ') # Take in user input and assign it to variable "age"
print('Oh, you are ' + age + ' years-old? Good to know.')

print(type(age)) # let's see what type of value we have in "age"

How old are you? 29
Oh, you are 29 years-old? Good to know.
<class 'str'>

In [39]:
age = int(age) # try to change value of "age" to an integer
print(type(age)) # now age is integer!
print(age)

<class 'int'>
29

`age` 에 숫자를 입력해도, 컴퓨터가 보기엔 숫자를 나타내는 문자열을 입력한것

# Exercises

## Payment Calculator

You've just had good time at a Handasom event. Unfortunately, as always, the time comes for you to pay for the food you just ate. Let's see if we can write a program to calculate what each person has to pay. We want our program to look like below:

```
What was the total cost? ($) 150
What is the tax rate? (%) 12
How much tip do you want to include? (%) 15

How many people attended the event? 5

Your total comes out to $38.64 per person.
```