# Review

## Variables

"named container" to store the value

```python
num_students = 12
```

### Common mistakes
1. always try to make variable names readable and understandable (for very simple programs, not a big deal. But as programs get more complicated, remembering what each variable was meant for gets harder and harder)
1. variable names cannot have spaces; if you need spaces for readability, replace it with underscores (`_`). For example: `this is variable` should be `this_is_variable`

1. variable names cannot start with number
1. variable names cannot have special characters, including `-`; variable name must only include alpha-numerics and `_`
1. variable names are case-sensitive (`Num_Students` vs `num_students`)
1. variable names cannot be reserved words, such as `int`, `str`, `input`, etc

## String

1. string cannot be concatenated (added) with a number--number must be be converted to a string first using `str()` function
1. string must be wrapped with either `'` or `"`: `name = "Andrew Hong"`

## Data Types

| Data Type | 예 | 설명 |
|:----|:---|:----|
| String (문자열) | `"Andrew Hong"` | 글자들, 즉 text 를 나타냄 |
| Integer (정수) | `1234` | 정수를 나타냄 (no decimals) |
| Float (부동 소수점 / 실수) | `3.14` | 실수를 나타냄 (with decimals) |
| Boolean (불린 / 논리 자료형) | `True` | 참 (`True`) or 거짓 (`False`) 을 나타냄 |
| Dictionary (사전) | `{ "name": "Andrew Hong", "age": 29 }` | 사전에서 단어를 정의하듯 key (단어) - value (값) 을 나타냄 |
| List (목록) | `["Hello", "World"]` | 여러개의 값을 함께 담아놓는 공간 |
| Objects (객체) | `Person()` | 데이터와 기능을 하나로 묶어 주변의 사물 또는 생명체를 나타냄 |
| Null | `None` | 아무 값이 지정 되어 있지 않음을 나타냄 |

# Conditional statements

Expressions that evaluates to Boolean value (`True` or `False`)

## equality

In [140]:
'나' is '나'

True

In [145]:
'나' == '나'

True

In [146]:
'1' == 1

False

## Inequality

In [149]:
'나' != '너'

True

In [150]:
'나' is not '너'

True

In [147]:
True is not False

True

### Greater-than (gt) comparison

In [19]:
5 > 1

True

### Less-than (lt) comparison

In [20]:
5 < 1

False

### Greather-than-or-equal (gte) comparison

In [47]:
1 >= 5

False

In [46]:
5 >= 1

True

In [24]:
1 >= 1

True

### Less-than-or-equal (lte) comparison

In [44]:
1 <= 5

True

In [45]:
5 <= 1

False

In [43]:
1 <= 1

True

## String conditions

In [28]:
'HelloWorld'.startswith('Hello')

True

In [30]:
'HelloWorld'.endswith('World')

True

위의 두가지 외에도 많은 method 들이 존재함

In [153]:
'i' not in 'team' and 'i' in 'win'

True

## List conditions

In [1]:
5 in [1, 2, 3, 4, 5]

True

In [38]:
[1, 2] == [1, 2]

True

In [2]:
[1, 2] is [1, 2]

False

In [3]:
a = [1, 2]
b = a

a is b

True

# Complex conditions

## `and`

In [53]:
True and True

True

In [54]:
True and False

False

In [4]:
False and True

False

## `or`

In [55]:
True or True

True

In [56]:
False or True

True

In [5]:
True or False

True

## combination

In [122]:
True or (True or False) and False

True

In [125]:
(True or (True or False)) and False

False

`()` 안에 있는 부분을 먼저 계산. `and` 를 계산 하고 `or` 를 계산. 좌 -> 우 계산

In [79]:
True or False and False and True

True

In [80]:
(True or False) and False and True

False

# `if` statements

Run different block of code depending on the condition statements

```python
if <condition_1>:
    <code> # runs if condition_1 evaluates to True
elif <condition_2>:
    <code> # runs if condition_1 evaluates to False and condition_2 evaluates to True
else:
    <code> # runs if both condition_1 and condition_2 evaluates to False
```

In [133]:
# take in an input from user, and transform it to lower case
answer = input('Are you having fun?? [y/n] ').lower()

if answer == 'y':
    print('I\'m very happy to hear that!')
    
elif answer == 'n':
    print('Ok. Fine.')
    
else:
    print('I\'m not sure what you mean')

Are you having fun?? [y/n] asdf
I'm not sure what you mean

# Exercise

Print your letter grade based on the numeric grade

- if > 90, then A
- if 70 < grade < 80, then B
- if 60 < grade < 70, then C
- if 50 < grade < 60, then D
- otherwise, F