# Conditional statements

## equality

In [140]:
'나' is '나'

True

In [145]:
'나' == '나'

True

In [146]:
'1' == 1

False

## Inequality

In [149]:
'나' != '너'

True

In [150]:
'나' is not '너'

True

In [147]:
True is not False

True

## Greater-than (gt) comparison

In [19]:
5 > 1

True

## Less-than (lt) comparison

In [20]:
5 < 1

False

## Greather-than-or-equal (gte) comparison

In [47]:
1 >= 5

False

In [46]:
5 >= 1

True

In [24]:
1 >= 1

True

## Less-than-or-equal (lte) comparison

In [44]:
1 <= 5

True

In [45]:
5 <= 1

False

In [43]:
1 <= 1

True

## String conditions

In [28]:
'HelloWorld'.startswith('Hello')

True

In [30]:
'HelloWorld'.endswith('World')

True

위의 두가지 외에도 많은 method 들이 존재함

In [153]:
'i' not in 'team' and 'i' in 'win'

True

## List conditions

In [37]:
5 in [1, 2, 3, 4, 5]

True

In [38]:
[1, 2] == [1, 2]

True

In [39]:
[1, 2] is [1, 2]

False

# Complex conditions

## `and`

In [53]:
True and True

True

In [54]:
True and False

False

## `or`

In [55]:
True or True

True

In [56]:
False or True

True

## combination

In [122]:
True or (True or False) and False

True

In [125]:
(True or (True or False)) and False

False

`()` 안에 있는 부분을 먼저 계산. `and` 를 계산 하고 `or` 를 계산. 좌 -> 우 계산

In [79]:
True or False and False and True

True

In [80]:
(True or False) and False and True

False

# `if` statements

컨디션이 충족 되었는지에 따라 실행하는 코드를 다르게 함

```python
if <condition_1>:
    <code> # runs if condition_1 evaluates to True
elif <condition_2>:
    <code> # runs if condition_1 evaluates to False and condition_2 evaluates to True
else:
    <code> # runs if both condition_1 and condition_2 evaluates to False
```

In [133]:
# take in an input from user, and transform it to lower case
answer = input('Are you having fun?? [y/n] ').lower()

if answer == 'y':
    print('I\'m very happy to hear that!')
    
elif answer == 'n':
    print('Ok. Fine.')
    
else:
    print('I\'m not sure what you mean')

Are you having fun?? [y/n] asdf
I'm not sure what you mean

# Exercises

In the previous lesson, we wrote a program to calculate payments. But, a wealthy anonymous benefactor promises he/she will pay for certain percentage of the total cost (including tax and tip), based on the number of people who attended the event. The percentages are as follows:

- 10% if 1 ~ 5 people
- 15% if 6 ~ 15 people
- 20% if 16 ~ 20 people
- 25% if 21+ people

With the changes, the output should look like the following:

```
What was the total cost? ($) 300
What is the tax rate? (%) 12
How much tip do you want to include? (%) 15

How many people attended the event? 10
Applying 15% discount.

Your total comes out to $32.844 per person.
```